.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.container {
    background-color: white;
    padding: 8px;
    max-width: 600px;
    border-radius: 8px;
}