@import "tailwindcss";


@theme inline {
  --font-mono: var(--font-Courier-New);
}


body {
  font-family: 'Courier New';
}

.header {
  background : #538dc3;  
}

.mainscreen {
  background: #EBFDFF
}

.mainblock {
  background: #726DA8;
  color: #EBFDFF;
}

.button {
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.daynightbutton {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.daynightbutton:hover {
  background-color: #04AA6D;
  color: white;
}